{% extends "navi.html" %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-12">
		<h1>捐赠</h1>
	</div>
	<div class="col-lg-12">
		<br>
	</div>
	<div class="col-lg-12"><img src="{% static 'images/pai.jpg' %}" width="618" height="480" alt=""/></div>
	<div class="col-lg-12">
		<h5>本站服务器每月租金在5$左右</h5>
		<h5>如果您每捐赠1元，服务器将会多运行1天</h5>
		<h5>如果没有捐赠意愿，还可通过如下方式支持开发： </h5>
		<li>每次点击Google adsense都将为本站提供平均0.01$的收入</li>
		<li>提供教务处帐号，以便我们开发各大高校接口</li>
		<li>带着一颗好奇的心，与我们一起参与Python接口设计</li>
		<li>LunaSchedule交流群：881520051</li>
	</div>
</div>
{% endblock %}